# **APARTMENT RENTAL PREDICTION IN GERMANY**

## **DATASET INFORMATION**

In [1]:
import pandas as pd
import numpy as np # linear algebra
import matplotlib.pyplot as plt # dataviz
import seaborn as sns # dataviz
import plotly.express as px
import plotly.graph_objs as go

In [2]:
data = pd.read_csv('/content/immo_data.csv')

<ipython-input-2-c9c4d594d6ed>:1: DtypeWarning: Columns (15,17,28,37) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/content/immo_data.csv')

In [3]:
data.shape

(94573, 49)

In [5]:
data.head()

,regio1,serviceCharge,heatingType,telekomTvOffer,telekomHybridUploadSpeed,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,...,regio2,regio3,description,facilities,heatingCosts,energyEfficiencyClass,lastRefurbish,electricityBasePrice,electricityKwhPrice,date
0,Nordrhein_Westfalen,245.00,central_heating,ONE_YEAR_FREE,NaN,False,False,6,4.62,10.0,...,Dortmund,Schüren,Die ebenerdig zu erreichende Erdgeschosswohnun...,Die Wohnung ist mit Laminat ausgelegt. Das Bad...,NaN,NaN,NaN,NaN,NaN,May19
1,Rheinland_Pfalz,134.00,self_contained_central_heating,ONE_YEAR_FREE,NaN,False,True,8,3.47,10.0,...,Rhein_Pfalz_Kreis,Böhl_Iggelheim,Alles neu macht der Mai – so kann es auch für ...,NaN,NaN,NaN,2019.0,NaN,NaN,May19
2,Sachsen,255.00,floor_heating,ONE_YEAR_FREE,10.0,True,True,8,2.72,2.4,...,Dresden,Äußere_Neustadt_Antonstadt,Der Neubau entsteht im Herzen der Dresdner Neu...,"* 9 m² Balkon\n* Bad mit bodengleicher Dusche,...",NaN,NaN,NaN,NaN,NaN,Oct19
3,Sachsen,58.15,district_heating,ONE_YEAR_FREE,NaN,False,True,9,1.53,40.0,...,Mittelsachsen_Kreis,Freiberg,Abseits von Lärm und Abgasen in Ihre neue Wohn...,NaN,87.23,NaN,NaN,NaN,NaN,May19
4,Bremen,138.00,self_contained_central_heating,NaN,NaN,False,True,19,2.46,NaN,...,Bremen,Neu_Schwachhausen,Es handelt sich hier um ein saniertes Mehrfami...,Diese Wohnung wurde neu saniert und ist wie fo...,NaN,NaN,NaN,NaN,NaN,Feb20

In [6]:
data.tail()

,regio1,serviceCharge,heatingType,telekomTvOffer,telekomHybridUploadSpeed,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,...,regio2,regio3,description,facilities,heatingCosts,energyEfficiencyClass,lastRefurbish,electricityBasePrice,electricityKwhPrice,date
94568,Nordrhein_Westfalen,139.00,NaN,ONE_YEAR_FREE,NaN,False,True,3,4.76,40.0,...,Bottrop,Batenbrock_Nord,Die Wohnung liegt in einem 6-Parteienhaus. Das...,Neben einem Wohnzimmer und Schlafzimmer bietet...,51.0,NaN,NaN,90.76,0.1915,Sep18
94569,Sachsen_Anhalt,60.00,NaN,ONE_YEAR_FREE,NaN,False,False,8,2.12,40.0,...,Harz_Kreis,Halberstadt,Wir vermieten eine gut geschnittene und sanier...,Die ca. 75 m² große Wohnung verfügt über eine ...,60.0,NaN,NaN,NaN,NaN,May19
94570,Nordrhein_Westfalen,311.61,combined_heat_and_power_plant,NaN,NaN,True,True,8,2.82,NaN,...,Aachen,Kornelimünster,"Ihr Traum, stadtnah und dennoch im Grünen, in ...",- Aufzug\n- Eck-Dachterrasse\n- innenliegendes...,NaN,NO_INFORMATION,NaN,NaN,NaN,May19
94571,Hamburg,95.00,central_heating,NaN,NaN,False,True,7,4.26,NaN,...,Hamburg,Rönneburg,Es handelt sich um eine schöne und helle 2-Zim...,Die Wohnung wird weiß gestrichen übergeben.\n\...,50.0,NO_INFORMATION,2019.0,NaN,NaN,Feb20
94572,Thüringen,250.00,self_contained_central_heating,ONE_YEAR_FREE,NaN,False,False,7,4.07,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data.describe()

,serviceCharge,telekomHybridUploadSpeed,picturecount,pricetrend,telekomUploadSpeed,totalRent,yearConstructed,scoutId,noParkSpaces,yearConstructedRange,...,noRooms,thermalChar,floor,numberOfFloors,noRoomsRange,livingSpaceRange,heatingCosts,lastRefurbish,electricityBasePrice,electricityKwhPrice
count,92224.000000,16117.0,94573.000000,93951.000000,82795.000000,8.059000e+04,74466.000000,9.457200e+04,32068.000000,74465.000000,...,94572.000000,57556.000000,76602.000000,60562.000000,94572.000000,94572.000000,30421.000000,28454.000000,15710.000000,15710.000000
mean,150.459110,10.0,9.743806,3.298857,28.667729,8.234737e+02,1965.836274,1.066278e+08,1.339466,3.680736,...,2.629375,114.699429,2.132359,3.603101,2.564406,3.045891,76.655503,2013.743059,89.062011,0.199968
std,488.864143,0.0,6.378617,1.976053,16.407938,4.722313e+03,47.426863,1.269332e+07,3.944024,2.722481,...,1.688976,60.599740,2.042655,6.590556,0.937013,1.400754,133.083084,9.377070,5.471824,0.009746
min,0.000000,10.0,0.000000,-9.170000,1.000000,0.000000e+00,1007.000000,2.887174e+07,0.000000,1.000000,...,1.000000,0.100000,-1.000000,0.000000,1.000000,1.000000,0.000000,1867.000000,71.430000,0.170500
25%,92.540000,10.0,6.000000,1.910000,10.000000,4.600000e+02,1948.000000,1.064613e+08,1.000000,1.000000,...,2.000000,79.500000,1.000000,2.000000,2.000000,2.000000,54.650000,2012.000000,90.760000,0.191500
50%,133.000000,10.0,9.000000,3.300000,40.000000,6.300000e+02,1972.000000,1.109987e+08,1.000000,3.000000,...,3.000000,106.800000,2.000000,3.000000,3.000000,3.000000,70.000000,2017.000000,90.760000,0.198500
75%,185.000000,10.0,13.000000,4.505000,40.000000,9.700000e+02,1996.000000,1.136887e+08,1.000000,5.000000,...,3.000000,140.000000,3.000000,4.000000,3.000000,4.000000,90.000000,2019.000000,90.760000,0.205500
max,146118.000000,10.0,121.000000,14.920000,100.000000,1.234567e+06,2090.000000,1.157117e+08,150.000000,9.000000,...,305.000000,1996.000000,139.000000,999.000000,5.000000,7.000000,12613.000000,2919.000000,90.760000,0.227600

In [4]:
data.describe(include='object')

,regio1,heatingType,telekomTvOffer,firingTypes,hasKitchen,geo_bln,cellar,houseNumber,geo_krs,condition,...,streetPlain,lift,typeOfFlat,garden,regio2,regio3,description,facilities,energyEfficiencyClass,date
count,94573,78791,83053,74613,94572,94572,94572,69975,94572,70693,...,69978,94572,81300,94572,94572,94572,87441,76318,27317,94572
unique,16,13,3,88,2,16,2,3175,419,10,...,28136,2,10,2,419,6944,78902,70712,10,4
top,Sachsen,central_heating,ONE_YEAR_FREE,gas,False,Sachsen,True,1,Chemnitz,well_kept,...,Hauptstraße,False,apartment,False,Chemnitz,Innenstadt,saniertes Mehrfamilienhaus,Diese Wohnung wird komplett renoviert und nach...,C,Feb20
freq,21854,45947,79909,38981,62960,21854,60361,2470,4850,23305,...,326,72519,46058,75922,4850,1638,79,74,5149,28063

GETTING MAXIMUM VALUES FOR EACH FEATURE

In [5]:
data.max()

<ipython-input-5-8637789457d2>:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.max()

regio1                        Thüringen
serviceCharge                  146118.0
telekomHybridUploadSpeed           10.0
newlyConst                         True
balcony                            True
picturecount                        121
pricetrend                        14.92
telekomUploadSpeed                100.0
totalRent                     1234567.0
yearConstructed                  2090.0
scoutId                     115711743.0
noParkSpaces                      150.0
hasKitchen                         True
cellar                             True
yearConstructedRange                9.0
baseRent                      1234567.0
livingSpace                      8684.0
lift                               True
baseRentRange                       9.0
geo_plz                         99998.0
noRooms                           305.0
thermalChar                      1996.0
floor                             139.0
numberOfFloors                    999.0
noRoomsRange                        5.0
garden                             True
livingSpaceRange                    7.0
heatingCosts                    12613.0
lastRefurbish                    2919.0
electricityBasePrice              90.76
electricityKwhPrice              0.2276
dtype: object

LIST OF CATEGORICAL FEATURES IN DATASET

In [6]:
categorical_cols=data.columns[data.dtypes =='object']
print(categorical_cols)

Index(['regio1', 'heatingType', 'telekomTvOffer', 'firingTypes', 'hasKitchen',
       'geo_bln', 'cellar', 'houseNumber', 'geo_krs', 'condition',
       'interiorQual', 'petsAllowed', 'street', 'streetPlain', 'lift',
       'typeOfFlat', 'garden', 'regio2', 'regio3', 'description', 'facilities',
       'energyEfficiencyClass', 'date'],
      dtype='object')

LIST OF NUMERICAL COLUMNS IN DATASET

In [7]:
numerical_cols=data.columns[data.dtypes !='object']
print(numerical_cols)

Index(['serviceCharge', 'telekomHybridUploadSpeed', 'newlyConst', 'balcony',
       'picturecount', 'pricetrend', 'telekomUploadSpeed', 'totalRent',
       'yearConstructed', 'scoutId', 'noParkSpaces', 'yearConstructedRange',
       'baseRent', 'livingSpace', 'baseRentRange', 'geo_plz', 'noRooms',
       'thermalChar', 'floor', 'numberOfFloors', 'noRoomsRange',
       'livingSpaceRange', 'heatingCosts', 'lastRefurbish',
       'electricityBasePrice', 'electricityKwhPrice'],
      dtype='object')

DATA TYPES OF ALL THE FEATURES

In [8]:
data.dtypes

regio1                       object
serviceCharge               float64
heatingType                  object
telekomTvOffer               object
telekomHybridUploadSpeed    float64
newlyConst                     bool
balcony                        bool
picturecount                  int64
pricetrend                  float64
telekomUploadSpeed          float64
totalRent                   float64
yearConstructed             float64
scoutId                     float64
noParkSpaces                float64
firingTypes                  object
hasKitchen                   object
geo_bln                      object
cellar                       object
yearConstructedRange        float64
baseRent                    float64
houseNumber                  object
livingSpace                 float64
geo_krs                      object
condition                    object
interiorQual                 object
petsAllowed                  object
street                       object
streetPlain                  object
lift                         object
baseRentRange               float64
typeOfFlat                   object
geo_plz                     float64
noRooms                     float64
thermalChar                 float64
floor                       float64
numberOfFloors              float64
noRoomsRange                float64
garden                       object
livingSpaceRange            float64
regio2                       object
regio3                       object
description                  object
facilities                   object
heatingCosts                float64
energyEfficiencyClass        object
lastRefurbish               float64
electricityBasePrice        float64
electricityKwhPrice         float64
date                         object
dtype: object

GETTING THE UNIQUE VALUES OF FEATURES

In [9]:
data.nunique()

regio1                         16
serviceCharge                6272
heatingType                    13
telekomTvOffer                  3
telekomHybridUploadSpeed        1
newlyConst                      2
balcony                         2
picturecount                   82
pricetrend                   1162
telekomUploadSpeed              7
totalRent                   13183
yearConstructed               343
scoutId                     94572
noParkSpaces                   60
firingTypes                    88
hasKitchen                      2
geo_bln                        16
cellar                          2
yearConstructedRange            9
baseRent                    12695
houseNumber                  3175
livingSpace                  9998
geo_krs                       419
condition                      10
interiorQual                    4
petsAllowed                     3
street                      27248
streetPlain                 28136
lift                            2
baseRentRange                   9
typeOfFlat                     10
geo_plz                      6130
noRooms                        39
thermalChar                  4943
floor                          38
numberOfFloors                 43
noRoomsRange                    5
garden                          2
livingSpaceRange                7
regio2                        419
regio3                       6944
description                 78902
facilities                  70712
heatingCosts                 2979
energyEfficiencyClass          10
lastRefurbish                  69
electricityBasePrice            2
electricityKwhPrice            15
date                            4
dtype: int64

## **DATA CLEANING**

DROPPING THE UNNECESSARY COLUMNS

In [8]:
data=data.drop(['telekomHybridUploadSpeed','electricityKwhPrice','lastRefurbish','electricityBasePrice','energyEfficiencyClass','heatingCosts','noParkSpaces','petsAllowed','interiorQual','thermalChar','houseNumber','streetPlain','condition','firingTypes','facilities','heatingType','telekomTvOffer',
                'description','regio3','regio2','garden','geo_krs','cellar','geo_bln','scoutId','picturecount','date','telekomUploadSpeed'],axis=1)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94573 entries, 0 to 94572
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   regio1                94573 non-null  object
 1   serviceCharge         92224 non-null  float64
 2   newlyConst            94573 non-null  bool
 3   balcony               94573 non-null  bool
 4   pricetrend            93951 non-null  float64
 5   totalRent             80590 non-null  float64
 6   yearConstructed       74466 non-null  float64
 7   hasKitchen            94572 non-null  object
 8   yearConstructedRange  74465 non-null  float64
 9   baseRent              94572 non-null  float64
 10  livingSpace           94572 non-null  float64
 11  street                94572 non-null  object
 12  lift                  94572 non-null  object
 13  baseRentRange         94572 non-null  float64
 14  typeOfFlat            81300 non-null  object
 15  geo_plz               94572 non-null  float64
 16  noRooms               94572 non-null  float64
 17  floor                 76602 non-null  float64
 18  numberOfFloors        60562 non-null  float64
 19  noRoomsRange          94572 non-null  float64
 20  livingSpaceRange      94572 non-null  float64
dtypes: bool(2), float64(14), object(5)
memory usage: 13.9+ MB

CHECKING OF NULL VALUES

In [10]:
data.isnull().sum()

regio1                      0
serviceCharge            2349
newlyConst                  0
balcony                     0
pricetrend                622
totalRent               13983
yearConstructed         20107
hasKitchen                  1
yearConstructedRange    20108
baseRent                    1
livingSpace                 1
street                      1
lift                        1
baseRentRange               1
typeOfFlat              13273
geo_plz                     1
noRooms                     1
floor                   17971
numberOfFloors          34011
noRoomsRange                1
livingSpaceRange            1
dtype: int64

REMOVAL OF NULL VALUES

In [11]:
numerical_cols = data.select_dtypes(include=['number']).columns
data[numerical_cols] = data[numerical_cols].fillna(data[numerical_cols].mean())

# Replace missing values in categorical columns with mode
categorical_cols = data.select_dtypes(include=['object']).columns
data[categorical_cols] = data[categorical_cols].fillna(data[categorical_cols].mode().iloc[0])



# Verify if there are still missing values
missing_values = data.isnull().sum()
missing_values

regio1                  0
serviceCharge           0
newlyConst              0
balcony                 0
pricetrend              0
totalRent               0
yearConstructed         0
hasKitchen              0
yearConstructedRange    0
baseRent                0
livingSpace             0
street                  0
lift                    0
baseRentRange           0
typeOfFlat              0
geo_plz                 0
noRooms                 0
floor                   0
numberOfFloors          0
noRoomsRange            0
livingSpaceRange        0
dtype: int64

CHECKING FOR DUPLICATE VALUES

In [12]:
data.duplicated().sum()

404

DROPPING OUT THE DUPLICATE VALUES

In [13]:
data=data.drop_duplicates()

In [14]:
data.duplicated().sum()

0

GETTING THE UNIQUE VALUES OF THE FEATURES

In [15]:
for column in data.columns:
    unique_values = data[column].unique()
    print(f"Unique values in column '{column}':\n{unique_values}\n")

Unique values in column 'regio1':
['Nordrhein_Westfalen' 'Rheinland_Pfalz' 'Sachsen' 'Bremen'
 'Schleswig_Holstein' 'Baden_Württemberg' 'Thüringen' 'Hessen'
 'Niedersachsen' 'Bayern' 'Hamburg' 'Sachsen_Anhalt'
 'Mecklenburg_Vorpommern' 'Berlin' 'Brandenburg' 'Saarland']

Unique values in column 'serviceCharge':
[245.   134.   255.   ... 203.32  70.62 311.61]

Unique values in column 'newlyConst':
[False  True]

Unique values in column 'balcony':
[False  True]

Unique values in column 'pricetrend':
[ 4.62  3.47  2.72 ... -2.06  9.17  9.81]

Unique values in column 'totalRent':
[ 840.          823.47368296 1300.         ... 2635.         1479.18
  520.4       ]

Unique values in column 'yearConstructed':
[1965.         1871.         2019.         1964.         1950.
 1999.         1965.83627427 1959.         1970.         1953.
 1930.         1892.         1912.         1951.         2018.
 1990.         1897.         1914.         2013.         1978.
 1890.         1902.         1977.         1956.         1974.
 1976.         2016.         1996.         1966.         1928.
 1994.         1975.         1987.         1900.         1920.
 2007.         1980.         1905.         1909.         1995.
 1969.         1918.         1968.         1958.         1963.
 1998.         2000.         2017.         1997.         2014.
 1972.         1979.         2001.         1984.         1800.
 1981.         1936.         1993.         1967.         1960.
 1962.         1985.         1957.         1989.         2015.
 1932.         1880.         1910.         1875.         1870.
 1986.         1933.         2020.         1988.         1939.
 1973.         2012.         1896.         1901.         2011.
 1927.         1907.         1926.         1992.         2004.
 1767.         1937.         1919.         1983.         1899.
 1911.         1780.         1925.         2005.         1898.
 1908.         1971.         1991.         2009.         1982.
 1961.         1935.         1955.         1954.         1946.
 1952.         1903.         1500.         1940.         2008.
 1895.         1938.         1913.         1881.         1894.
 1929.         1904.         1942.         2010.         1949.
 1931.         1573.         1906.         1685.         1945.
 1887.         2006.         1916.         1915.         1888.
 1877.         2002.         1850.         1921.         2003.
 1922.         1893.         1917.         1924.         1948.
 1111.         1860.         1889.         1572.         1534.
 1934.         1923.         1865.         1947.         1864.
 1869.         1943.         1849.         1874.         1735.
 1884.         1876.         1763.         1750.         1760.
 1885.         1818.         1941.         1740.         1866.
 1586.         1886.         1568.         1600.         1661.
 1830.         1882.         1828.         1710.         1752.
 1879.         1519.         1655.         1855.         1280.
 1873.         1868.         1680.         1820.         1650.
 1756.         1891.         1944.         1730.         1836.
 1716.         1657.         1837.         1558.         1840.
 1835.         1862.         1515.         1811.         1833.
 1798.         1853.         1688.         1648.         1808.
 1537.         1790.         1883.         1709.         1720.
 1779.         1513.         1400.         1734.         1700.
 1696.         1878.         1365.         1856.         1857.
 1375.         1789.         1783.         1774.         1848.
 1829.         1721.         1722.         1858.         1863.
 1630.         1806.         1539.         1823.         1564.
 1603.         1852.         1859.         1867.         1827.
 1608.         1670.         1854.         1430.         1618.
 1683.         1460.         1847.         1842.         1330.
 1612.         1786.         1639.         1845.         1562.
 1550.         1300.         2021.         1839.         1622.
 1810.         1803.         1797.         1792.         1775.
 1784.         1699.         1420.         1525.         1872.
 1692.         1658.         2029.         1861.         1841.
 1652.         1718.         1825.         1832.         1561.
 1776.         1723.         1791.         1514.         1590.
 1690.         1711.         1725.         1200.         1668.
 1814.         1769.         1678.         1736.         1816.
 1851.         1724.         1846.         1777.         2026.
 1355.         1713.         1560.         1838.         1623.
 1785.         1480.         1691.         1672.         1778.
 1805.         1395.         1532.         1599.         1663.
 1666.         2022.         1815.         1770.         1450.
 1190.         1180.         1717.         1843.         1817.
 1679.         1634.         1589.         1795.         1553.
 1689.         2090.         1826.         1078.         1197.
 1822.         1036.         1712.         1007.         1549.
 1834.         1731.         1831.         1640.        ]

Unique values in column 'hasKitchen':
[False  True]

Unique values in column 'yearConstructedRange':
[2.         1.         9.         5.         3.68073592 4.
 8.         3.         7.         6.        ]

Unique values in column 'baseRent':
[ 595.          800.          965.         ... 1142.57        375.4
  649.14172831]

Unique values in column 'livingSpace':
[ 86.          89.          83.8        ...  98.01       103.87
  73.09850854]

Unique values in column 'street':
['Sch&uuml;ruferstra&szlig;e' 'no_information' 'Turnerweg' ...
 'Beundestra&szlig;e' 'Scharnh&ouml;lzstra&szlig;e' 'Rotbergfeld']

Unique values in column 'lift':
[False  True]

Unique values in column 'baseRentRange':
[4.         5.         6.         2.         3.         1.
 7.         8.         9.         3.68582667]

Unique values in column 'typeOfFlat':
['ground_floor' 'apartment' 'other' 'roof_storey' 'raised_ground_floor'
 'terraced_flat' 'half_basement' 'maisonette' 'penthouse' 'loft']

Unique values in column 'geo_plz':
[44269.         67459.          1097.         ... 65759.
 75305.         36337.00385949]

Unique values in column 'noRooms':
[  4.           3.           2.           2.5          1.
   5.           1.5          3.5          4.5          5.5
   6.           7.           6.5          8.5          2.1
   2.2         99.5          9.           3.1          8.
  10.          15.           1.2         12.         200.
 140.          13.           3.01        11.          99.
 305.          25.           7.5          1.1         22.
  45.          50.           3.8         75.5          2.62937455]

Unique values in column 'floor':
[  1.           2.13235947   3.           2.           4.
   0.           6.           5.          10.           8.
  16.          -1.           7.           9.          11.
  15.          13.          12.          20.         136.
  14.          17.          22.          32.          83.
  19.          21.          18.          99.          23.
  26.          25.          37.         133.         137.
 139.         124.          24.          29.        ]

Unique values in column 'numberOfFloors':
[  3.           3.60310095   4.           2.           5.
   1.           6.           7.          10.           8.
   9.          20.           0.          11.          17.
  14.          12.          16.          13.          23.
  18.          15.          19.          26.          45.
  32.          22.          21.          27.          90.
 301.          36.         378.         999.          40.
  30.          24.          25.          31.          92.
  54.          28.         400.          42.        ]

Unique values in column 'noRoomsRange':
[4.         3.         2.         1.         5.         2.56440596]

Unique values in column 'livingSpaceRange':
[4.         2.         3.         1.         6.         7.
 5.         3.04589096]